body {
	font: normal normal normal 12pt/14.4pt Tahoma, Arial, sans-serif;
	border: 0; padding: 0; margin: 0;
	background-color: ivory;
}
thead {
	font-style: italic;
}
#ngview {
	font-size: 1.1em;
	padding: 0 10px;
	margin-top: 5em;
	/*background-color: white;*/
}
#nickname {
    margin-top: 51px;
    text-align: right;
}
#top {
	display: none;
}
#PageTitle {
	/* The title on every page */
	font-size: 1.5em;
	font-weight: bolder;
	padding-bottom: 1em;
}
#PageAddLink {
	font-weight: bolder;
}
#ngviewform {
	width:60%;
	margin:10px auto;
}
#ngviewlist {

}
#homecontent {
	/*width: 80%;*/
	margin: 0 auto;
}
#homecontentleft, #homecontentright {
	display: inline-block;
	vertical-align: text-top;
}
#homecontentleft {
	width: 65%;
	margin-right: 35px;
}
#homecontentright {
	width: 30%;
}
#aboutcontent {
	margin: 5px 0 0 0;
}
#portrait {
	float: left;
	vertical-align: top;
	margin: 0 10px 10px 0;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.top2em {
	padding-top: 2em;
}
.po {
	width: 70%;
	margin: 0 auto;
	border: 1px solid silver;
	padding: 5px 5px 35px 5px;
}