body {
	font: normal normal normal 12pt/14.4pt Tahoma, Arial, sans-serif;
	border: 0; padding: 0; margin: 0;
	background-color: cornsilk;
}
thead {
	font-style: italic;
}
#ngview {
	padding: 0 10px;
}
#top {
	display: none;
}
#PageTitle {
	/* The title on every page */
	font-size: 1.5em;
	font-weight: bolder;
}
#PageAddLink {
	font-weight: bolder;
}