<div>
	<div><span id="PageTitle">About</span></div>
	<div id='aboutcontent'>
		<p><img id='portrait' src='image/gd.jpg'>I am a long time software developer and software development manager working in the Microsoft software development technology world. In my career, I have worked with companies such as Honeywell, Gannett, Cincom, and Cincinnati Bell as well as being a regular speaker at Microsoft events.<p>
		<p>I have been working with C#.NET since beta 1 (circa 2000). In the last decade, about 95% of my application work has been on full stack, enterprise level web and SQL database applications.</p>
		<p>I am currently a bootcamp instructor at Max Technical Training working to help change people's lives for the better.</p>
	</div>
</div