<div style="width:60%;margin:10px auto;">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Detail</span></div>
	<div>
		<div class="form-group row">
			<label for="user-id" class="col-md-3 col-form-label">ID</label>
			 <div class="col-md-9">
			 	<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.NewUser.ID" id="user-id">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-user-name" class="col-md-3 col-form-label">User Name</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.NewUser.UserName" id="user-user-name">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-first-name" class="col-md-3 col-form-label">First Name</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.NewUser.FirstName" id="user-first-name">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-last-name" class="col-md-3 col-form-label">Last Name</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.NewUser.LastName" id="user-last-name">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-Email" class="col-md-3 col-form-label">Email</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.NewUser.Email" id="user-email">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-phone" class="col-md-3 col-form-label">Phone</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.NewUser.Phone" id="user-phone">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-reviewer" class="col-md-3 col-form-label">Reviewer</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="checkbox" ng-model="ctrl.NewUser.IsReviewer" id="user-reviewer">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="user-admin" class="col-md-3 col-form-label">Admin</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="checkbox" ng-model="ctrl.NewUser.IsAdmin" id="user-admin">
			</div>
	  	</div>

	  	<button ng-click="ctrl.Add(ctrl.NewUser)">Update</button>
	</div>
</div>