<div>
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span></div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>User Name</td>
					<td>Email</td>
					<td>Phone</td>
					<td>Reviewer</td>
					<td>Admin</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.Users">
					<td>
						<span ng-bind="user.FirstName"></span> 
						<span ng-bind="user.LastName"></span>
					</td>
					<td><span ng-bind="user.UserName"></span></td>
					<td><span ng-bind="user.Email"></span></td>
					<td><span ng-bind="user.Phone"></span></td>
					<td><span ng-bind="user.IsReviewer"></span></td>
					<td><span ng-bind="user.IsAdmin"></span></td>
					<td>
						<span><a href="#/users/detail/{{user.ID}}">Detail</a></span> |
						<span><a href="#/users/edit/{{user.ID}}">Edit</a></span> |
						<span><a href="#/users/remove/{{user.ID}}">Delete</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>