<div id="ngviewform">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Detail</span></div>
	<div>
		<div class="form-group row">
			<label for="product-id" class="col-md-3 col-form-label">ID</label>
			 <div class="col-md-9">
			 	<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.SelectedProduct.ID" id="product-id">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="product-product-name" class="col-md-3 col-form-label">Name</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.SelectedProduct.Name" id="product-product-name">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="product-VendorPartNumber" class="col-md-3 col-form-label">VendorPartNumber</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="test" ng-model="ctrl.SelectedProduct.VendorPartNumber" id="product-VendorPartNumber">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="product-price" class="col-md-3 col-form-label">Price</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.SelectedProduct.Price" id="product-price">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="product-unit" class="col-md-3 col-form-label">Unit</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.SelectedProduct.Unit" id="product-Unit">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="product-photopath" class="col-md-3 col-form-label">PhotoPath</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.SelectedProduct.PhotoPath" id="product-photopath">
			</div>
	  	</div>


		<div class="form-group row">
			<label for="product-vendor" class="col-md-3 col-form-label">Vendor</label>
			 <div class="col-md-9">
			 	<select class="form-control" ng-model="ctrl.SelectedProduct.VendorId" id="product-vendor"  ng-options="vendor.ID as vendor.Name for vendor in ctrl.Vendors">
			 	</select>
			</div>
	  	</div>


	  	<button ng-click="ctrl.Update(ctrl.SelectedProduct)" class='btn btn-primary'>Update</button>
	</div>
</div>