<div>
	<div>
		<span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span>
		<span ng-if="ctrl.IsUserAdmin" id="PageAddLink">- <a href="#/users/add">Create New</a></span>	
		<span><label> - Search: <input ng-model="ctrl.SearchCriteria"></label></span>
		<span><label> - Sort: 
			<select ng-model="ctrl.SortProperty">
				<option ng-repeat="field in ['','FirstName','LastName','Phone','Email']">{{field}}</option>
			</select></label></span>
		<span ng-if="ctrl.IsUserAdmin" > - <label><button ng-click="ctrl.ToggleDisplayPassword()">Toggle Display Passwords</button></label></span>
	<div>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>User Name</td>
					<td>Password</td>
					<td>Phone</td>
					<td>Email</td>
					<td>Reviewer</td>
					<td>Admin</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.Users | filter: ctrl.SearchCriteria | orderBy: ctrl.SortProperty">
					<td>
						<span ng-bind="user.FirstName"></span> 
						<span ng-bind="user.LastName"></span>
					</td>
					<td><span ng-bind="user.UserName"></span></td>
					<td ng-if="ctrl.DisplayPassword"><span ng-bind="user.Password"></span></td>
					<td ng-if="!ctrl.DisplayPassword"><span>********</span></td>
					<td><span ng-bind="user.Phone"></span></td>
					<td><span ng-bind="user.Email"></span></td>
					<td><span ng-bind="user.IsReviewer"></span></td>
					<td><span ng-bind="user.IsAdmin"></span></td>
					<td>
						<span><a href="#/users/detail/{{user.ID}}">Detail</a></span>
						<span ng-if="ctrl.IsUserAdmin">| <a href="#/users/edit/{{user.ID}}">Edit</a></span>
						<span ng-if="ctrl.IsUserAdmin">| <a href="#/users/remove/{{user.ID}}">Delete</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>