<div id="ngviewform">
	<div id="PageTitle"><span><span ng-bind="ctrl.PageTitle"></span> Detail</span></div>
	<div>
		<table class="table">
			<tbody>
				<tr>
					<td>
						<span class="DetailHeading">Name</span>
					</td>
					<td>
						<span ng-bind="ctrl.SelectedUser.FirstName"></span> 
						<span ng-bind="ctrl.SelectedUser.LastName"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">UserName</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.UserName"></span></td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Password</span>
					</td>
					<td>
						<span ng-if="ctrl.DisplayPassword" ng-bind="ctrl.SelectedUser.Password"></span>
						<span ng-if="!ctrl.DisplayPassword">********</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Phone</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.Phone"></span></td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Email</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.Email"></span></td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Reviewer</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.IsReviewer"></span></td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Admin</span>
					</td>
					<td><span ng-bind="ctrl.SelectedUser.IsAdmin"></span></td>
				</tr>
			</tbody>
		</table>
	<span ng-if="ctrl.AuthenticatedUser.IsAdmin"><a href="#/users/edit/{{ctrl.SelectedUser.ID}}" class='btn btn-primary'>Edit</a></span>
		  	<span ng-if="ctrl.AuthenticatedUser.IsAdmin"><button ng-click="ctrl.Remove(ctrl.SelectedUser.ID)" class='btn btn-danger'>Delete</button></span>

	</div>
</div>