<div>
	<div id="PageTitle"><span><span ng-bind="ctrl.PageTitle"></span> Detail</span></div>
	<div>
		<table class="table">
			<tbody>
				<tr>
					<td>
						<span class="DetailHeading">Product</span>
					</td>
					<td>
						<span ng-bind="ctrl.SelectedPurchaseRequestLineItem.Product.Name"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="DetailHeading">Quantity</span>
					</td>
					<td>
						<span ng-bind="ctrl.SelectedPurchaseRequestLineItem.Quantity"></span> 
					</td>
				</tr>
			</tbody>
		</table>
	<span><a href="#/purchaseRequestLineItems/edit/{{ctrl.SelectedPurchaseRequestLineItem.ID}}">Edit</a></span> |
		  	<button ng-click="ctrl.Remove(ctrl.SelectedPurchaseRequestLineItem.ID)">Delete</button>

	</div>
</div>