<div id="ngviewform">
	<div><span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> Detail</span></div>
	<div>
		<div class="form-group row">
			<label for="purchaseRequestLineItem-id" class="col-md-3 col-form-label">ID</label>
			 <div class="col-md-9">
			 	<input class="form-control" disabled="disabled" type="text" ng-model="ctrl.SelectedPurchaseRequestLineItem.ID" id="purchaseRequestLineItem-id">
			</div>
	  	</div>

		<div class="form-group row">
			<label for="purchaseRequestLineItem-product" class="col-md-3 col-form-label">Product</label>
			 <div class="col-md-9">
			 	<select class="form-control" ng-model="ctrl.SelectedPurchaseRequestLineItem.ProductId" id="purchaseRequestLineItem-product" ng-options="product.ID as product.Name for product in ctrl.Products">
			 	</select>
			</div>
	  	</div>

		<div class="form-group row">
			<label for="purchaseRequestLineItem-quantity" class="col-md-3 col-form-label">Quantity</label>
			 <div class="col-md-9">
			 	<input class="form-control" type="text" ng-model="ctrl.SelectedPurchaseRequestLineItem.Quantity" id="purchaseRequest-quantity">
			</div>
	  	</div>



	  	<button ng-click="ctrl.Update(ctrl.SelectedPurchaseRequestLineItem)" class='btn btn-primary'>Update</button>
	</div>
</div>