<div id="ngviewlist">
	<div>
		<span id="PageTitle">Purchase Request Review</span>
		<div>
			<table class="table">
				<thead>
					<tr><th>ID</th><th>Description</th><th>Justification</th><th>Total</th></tr>
				</thead>
				<tbody>
					<tr><td>{{ctrl.SelectedPurchaseRequest.ID}}</td><td>{{ctrl.SelectedPurchaseRequest.Description}}</td><td>{{ctrl.SelectedPurchaseRequest.Justification}}</td><td>{{ctrl.SelectedPurchaseRequest.Total | currency}}</td></tr>
					
				</tbody>
			</table>
		</div>
	<div>
		<p></p>
		<table class="table">
			<thead>
				<tr>
					<td>Product</td>
					<td>Quantity</td>
					<td>Price</td>
					<td>Line Total</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="purchaseRequestLineItem in ctrl.PurchaseRequestLineItems | filter: ctrl.SearchCriteria | orderBy: ctrl.SortProperty">
					<td><span ng-bind="purchaseRequestLineItem.Product.Name"></span></td>
					<td><span ng-bind="purchaseRequestLineItem.Quantity"></span></td>
					<td><span ng-bind="purchaseRequestLineItem.Product.Price | currency"></span></td>
					<td><span ng-bind="purchaseRequestLineItem.Quantity * purchaseRequestLineItem.Product.Price | currency"></span></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
		  	<button class="btn btn-success col-md-1 col-xs-offset-2" ng-click="ctrl.Approve(ctrl.SelectedPurchaseRequestId)">Approve</button>
		  	<button class="btn btn-danger col-md-1 col-xs-offset-2" ng-click="ctrl.Reject(ctrl.SelectedPurchaseRequestId)">Reject</button>
		</div>
	</div>
</div>